In [12]:
import pandas as pd
from collections import Counter
import re

In [2]:
df = pd.read_csv("/workspace/mica-text-robust-script-parser/results/data.csv", index_col=None)

In [3]:
df.head()

,movie,line_no,text,label,error
0,44_inch_chest,1,out to wear ... whatever combination - it,D,NONE
1,44_inch_chest,2,works! - You look superb! ... And your,D,NONE
2,44_inch_chest,3,underw ear - immac ulate ! 100 % cot ton!,D,NONE
3,44_inch_chest,4,Dazzlin'!... Not like my pinky grey-y,D,NONE
4,44_inch_chest,5,"things! Nah, you've just got it - good at",D,NONE

In [5]:
Counter(df.label)

Counter({'D': 33840,
         'N': 27648,
         'C': 16506,
         'E': 3650,
         'O': 2835,
         'T': 612,
         'S': 3078,
         'M': 2011})

In [6]:
df[df.label == "O"]

,movie,line_no,text,label,error
30,44_inch_chest,31,(MORE),O,NONE
31,44_inch_chest,32,Pink Revised 21st May 2008 73.,O,NONE
32,44_inch_chest,33,65 CONTINUED: ...,O,NONE
88,44_inch_chest,89,(MORE),O,NONE
89,44_inch_chest,90,Pink Revised 21st May 2008 74.,O,NONE
...,...,...,...,...,...
87830,wolf_of_wall_street_the,233,*,O,DIALOGUE_EXPRESSIONS
87832,wolf_of_wall_street_the,235,*,O,DIALOGUE_EXPRESSIONS
87856,wolf_of_wall_street_the,259,225 SCENE 225 OMITTED ...,O,DIALOGUE_EXPRESSIONS
87857,wolf_of_wall_street_the,260,123.,O,DIALOGUE_EXPRESSIONS
87858,wolf_of_wall_street_the,261,The Wolf of Wall Street Buff Revised Pages ...,O,DIALOGUE_EXPRESSIONS

In [7]:
df[df.label == "M"]

               movie  line_no text label      error
1512   44_inch_chest        7  HHZ     M  WATERMARK
1517   44_inch_chest       12   QP     M  WATERMARK
1519   44_inch_chest       14  JWD     M  WATERMARK
1532   44_inch_chest       27    B     M  WATERMARK
1537   44_inch_chest       32    E     M  WATERMARK
...              ...      ...  ...   ...        ...
89648           xmen      286   ZI     M  WATERMARK
89652           xmen      290   AD     M  WATERMARK
89657           xmen      295   QS     M  WATERMARK
89659           xmen      297    H     M  WATERMARK
89666           xmen      304    M     M  WATERMARK

[2011 rows x 5 columns]

In [9]:
Counter(df["label"].replace("M", "O"))

Counter({'D': 33840,
         'N': 27648,
         'C': 16506,
         'E': 3650,
         'O': 4846,
         'T': 612,
         'S': 3078})

In [10]:
seq_df = pd.read_csv("/workspace/mica-text-robust-script-parser/results/seq_10.csv", index_col=None)

In [11]:
seq_df.head()

,movie,start_line_no,end_line_no,line_1,line_2,line_3,line_4,line_5,line_6,line_7,line_8,line_9,line_10,label,error,split
0,44_inch_chest,1,10,out to wear ... whatever combination - it,works! - You look superb! ... And your,underw ear - immac ulate ! 100 % cot ton!,Dazzlin'!... Not like my pinky grey-y,"things! Nah, you've just got it - good at",everythin'! ... Me - on the other hand -,"I'm good at sittin'!... Sit, sit, sit...","watch, watch, watch ... drink, drink,","drink... Honestly, she must've spent ...","half our marriage yawnin ""... The kids --",DDDDDDDDDD,NONE,train
1,44_inch_chest,2,11,works! - You look superb! ... And your,underw ear - immac ulate ! 100 % cot ton!,Dazzlin'!... Not like my pinky grey-y,"things! Nah, you've just got it - good at",everythin'! ... Me - on the other hand -,"I'm good at sittin'!... Sit, sit, sit...","watch, watch, watch ... drink, drink,","drink... Honestly, she must've spent ...","half our marriage yawnin ""... The kids --",d'you know what they call me? - Captain,DDDDDDDDDD,NONE,test
2,44_inch_chest,3,12,underw ear - immac ulate ! 100 % cot ton!,Dazzlin'!... Not like my pinky grey-y,"things! Nah, you've just got it - good at",everythin'! ... Me - on the other hand -,"I'm good at sittin'!... Sit, sit, sit...","watch, watch, watch ... drink, drink,","drink... Honestly, she must've spent ...","half our marriage yawnin ""... The kids --",d'you know what they call me? - Captain,"Arsehole! - Oh, but they do! Captain",DDDDDDDDDD,NONE,train
3,44_inch_chest,4,13,Dazzlin'!... Not like my pinky grey-y,"things! Nah, you've just got it - good at",everythin'! ... Me - on the other hand -,"I'm good at sittin'!... Sit, sit, sit...","watch, watch, watch ... drink, drink,","drink... Honestly, she must've spent ...","half our marriage yawnin ""... The kids --",d'you know what they call me? - Captain,"Arsehole! - Oh, but they do! Captain",Arsehole! - They were thinkin' of gettin',DDDDDDDDDD,NONE,train
4,44_inch_chest,5,14,"things! Nah, you've just got it - good at",everythin'! ... Me - on the other hand -,"I'm good at sittin'!... Sit, sit, sit...","watch, watch, watch ... drink, drink,","drink... Honestly, she must've spent ...","half our marriage yawnin ""... The kids --",d'you know what they call me? - Captain,"Arsehole! - Oh, but they do! Captain",Arsehole! - They were thinkin' of gettin',T-shirts printed up for the whole family,DDDDDDDDDD,NONE,train

In [13]:
seq_df["label"].str.replace("M", "O")

0        DDDDDDDDDD
1        DDDDDDDDDD
2        DDDDDDDDDD
3        DDDDDDDDDD
4        DDDDDDDDDD
            ...
60043    DODONNCDNC
60044    ODONNCDNCO
60045    DONNCDNCOD
60046    ONNCDNCODD
60047    NNCDNCODDS
Name: label, Length: 60048, dtype: object

In [15]:
Counter("".join(seq_df["label"]))

Counter({'D': 227283,
         'N': 172095,
         'C': 113180,
         'E': 24828,
         'O': 17534,
         'T': 4025,
         'S': 22003,
         'M': 19532})

In [16]:
Counter("".join(seq_df["label"].str.replace("M","O")))

Counter({'D': 227283,
         'N': 172095,
         'C': 113180,
         'E': 24828,
         'O': 37066,
         'T': 4025,
         'S': 22003})